<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>closed </title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <a href="/home">Home</a>
        <a href="/services">Our Services</a>
        <a href="/contact">Contact Us</a>
        <h1></h1>
    </nav>
    <h1>Working Hours : (Monday to Friday,  from 9 to 17)</h1>
</body>
</html>